[Unit]
Description=Ebbflow Client Service
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
# Restarts every 10 seconds post failure..
RestartSec=10
Type=simple

# Runtime Configuration

# Tell Ebbflow which file to load environment variables from like this
# (You can alternatively set each env var in this .service file instead of point to another file)
#Environment=EBB_ENVFILE=/path/to/env/file

[Install]
WantedBy=multi-user.target
