[Unit]
Description=Ebbflow Client Service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/sbin/ebbflowd
Restart=always
RestartSec=1
Type=simple

[Install]
WantedBy=multi-user.target
